<div class="container">
    <div class="row">

        <div class="col-md-6 mb-3">
            <img src="{{imageUrl}}" class="img-fluid z-depth-4"/>
        </div>
        <div class="col">
            <h1>WebFrameworks</h1>
            <h2>Angular 4 & bootstrap</h2>
            <ul>
                <li>Stijn Van Engelgem</li>
                <li>2ea3 E-ict</li>
                <li>2017-2018</li>
            </ul>
            <p>Mijn doel met deze opdracht was was om enkele componenten om de Lage-Emisie-Zone van Antwerpen uit te leggen. </p>
            <P>De eerste tab ("Wat is de LEZ") is een tab waar de LEZ word aangeduid doormiddel van een polygon op een kaart dat gebruik maakt van @agm/core.
                Onder de map word uitgelegd wat de LEZ is, waarom het van kracht is, en een referentie naar de officiele site (https://www.slimnaarantwerpen.be/nl/lez).
                De verwerking van de data uit de api ("http://opendata.antwerpen.be/datasets/lage-emissiezone-afbakening") bleek dus veel moeilijker dan verwacht, om dit werkend te krijgen ben ik 5 dagen bezig geweest(veel te lang)
                . Uiteindelijk is het toch gelukt maar tijd voor de andere componenten was er niet echt meer.
            </P>
            <p>
                De 2de tap ("Toegankelijkheid") is bedoelt om te kijken of je bestemming binnen de lez ligt of niet. De basis is vrij simpel, een @agm map waar de google maps api op gebruikt word om de coordinaten van de bestemmings te vinden.
                Als de bestemming binden de Lez valt zal/zou de applicatie enkele mogelijkheden moeten bieden of enkele extra vragen om een betere keuze te maken hoe je naar 't stad zou komen.
            </p>
            

        </div>

    </div>
</div>
