
<dif class="card" *ngIf="resultaat">
  <h1>{{ title }}</h1>
  <dif>
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="12">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        <agm-polygon *ngFor="let totaal of resultaat.data"
          [paths]="paths">
        </agm-polygon>
      </agm-map>
  </dif>
  
<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->

  <h1>test</h1>
    <table class="table table-hover">
    <tbody>
        <tr *ngFor="let totaal of resultaat.data">
            <td>{{totaal.objectid}}</td>
            <td>{{totaal.id}}</td>
            <td>{{totaal.geometry2}}</td>
            <td>{{totaal.geometry}}</td>
          </tr>
    </tbody>
  </table>
</dif>
